.container
{
    height: 1000px;
    border: 2px solid black;
    background-color: aquamarine;
    display: flex;
    flex-direction: row; /*! Properties : row , row-reverse , column , column-reverse*/
    /* flex-wrap: wrap-reverse;         ! Properties: wrap ,wrap-reverse */
    justify-content: space-between;  /*!Proprties :center, flex-start ,flex-end , space-around*/
}
      

#box1
{
    background-color: red;
    /* float: right; */
}

#box2
{
    background-color: yellow;
    /* float: right; */
}

#box3
{
     background-color: yellowgreen;
}

#box4
{
    background-color: violet;
}